---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      Hello world!
      <br />
      i dev
      <br />
      <br />
      mainly know c, c++, c#, python, lua, luau, html, css, js, ts, java, docker,
      git, linux
      <br />
      <br />
      OOP and clean code on top simplicity & abstraction &gt; complexity
      <br />
      <br />
      Linus the goat 😎
    </p>
  </main>
</Layout>
